;; Jabbber
(setq jabber-account-list '(
  ("jabber_account"
    (:password . "jabber_password")
    (:network-server . "talk.google.com")
    (:port . 443)
    (:connection-type . ssl))))

(setq jabber-account-username "jabber_account")
(setq jabber-window1-username "account1")
(setq jabber-window2-username "account2")
(setq jabber-window3-username "account3")

;; Mu4e / Smtp
(setq
 user-mail-address "from address"
 user-full-name  "from name"
 message-signature
 (concat
  "name\n"
  "title\n"
  "url\n"))
